body{
  background: white;
  font-family: 'Oswald', sans-serif;
}

h2{
  margin-top: 10px;
  margin-left: 5px;
  color: white;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: black;
}

.hidden {
  display: none;
}

.war-decks {
  display: none;
  justify-content: space-around;
  align-items center;
  margin-top: 60px;
  margin-left: 32%;
  margin-right: 32%;
  border: 5px solid #75540D;
  width: 500px;
	height: 500px;
	background: #07A336;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.card {
  width: 75px;
  height: 100px;
  padding: 5px;
}

.war {
  margin-top: 55px;
  margin-bottom: 10px;
  margin-left: 48%;
  color: red;
  font-size: 24px;
}

#startgame{
  margin-left: 47%;
  margin-top: 5%;
  height: 40px;
  length: 100px;
}

#deck-one, #deck-two, #deck-one-value, #deck-two-value {
  display: flex;
  align-self: center;
}
